html {
    scroll-behavior: smooth;
}

:any-link {
    color: $clr-accent;
    
    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: 4px solid currentColor;
        outline-offset: 2px;
    }
}

@mixin link-no-underline {
    color: currentColor;
    text-decoration: none;
    
    &:hover, &:focus {
        color: $clr-accent;
    }
}