$clr-accent: #386C4E;

$clr-black: #000;
$clr-grey--dark: #444;

$fs-h3: 1.728em;
$fs-h4: 1.44em;
$fs-h5: 1.2em;
$fs-small: 0.833em;

$ff-sans: 'Inter', "Segoe UI", Arial, Helvetica, sans-serif;
$ff-mono: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;